{{ if eq .chezmoi.os "linux" -}}
#!/bin/bash

if ! command -v brew &>/dev/null; then
  echo "Installing Homebrew..."
  NONINTERACTIVE=1 /bin/bash -c "$(curl -fsSL https://raw.githubusercontent.com/Homebrew/install/HEAD/install.sh)"
  eval "$(/home/linuxbrew/.linuxbrew/bin/brew shellenv)"
fi

brew bundle --file=/dev/stdin <<EOF
{{ if hasKey .packages.linux "tap" -}}{{ range .packages.linux.tap -}}
tap {{ .name | quote }}, {{ .url | quote }}
{{ end -}}{{ end -}}
{{ range .packages.linux.brew -}}
brew {{ . | quote }}
{{ end -}}
EOF
{{ else if eq .chezmoi.os "darwin" -}}
#!/bin/bash

brew bundle --file=/dev/stdin <<EOF
{{ range .packages.mac.tap -}}
tap {{ .name | quote }}, {{ .url | quote }}
{{ end -}}
{{ range .packages.mac.brew -}}
brew {{ . | quote }}
{{ end -}}
{{ range .packages.mac.cask -}}
cask {{ . | quote }}
{{ end -}}
EOF
{{ end -}}
