{{ if eq .chezmoi.os "linux" -}}
#!/bin/bash

brew bundle --file=/dev/stdin <<EOF
{{ range .packages.linux.brew -}}
brew {{ . | quote }}
{{ end -}}
EOF
{{ else if eq .chezmoi.os "darwin" -}}
#!/bin/bash

brew bundle --file=/dev/stdin <<EOF
{{ range .packages.mac.brew -}}
brew {{ . | quote }}
{{ end -}}
EOF
{{ end -}}
